<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %} {% endblock title %} | Ecommerce
    </title>
</head>

<body>
    <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">Ecommerce</a>
        
        <div class="space-x-6">
            <a href="#" class="text-lg font-semibold hover:text-gray-600">New Item</a>
            <a href="#" class="text-lg font-semibold hover:text-gray-600">Browse</a>

            <a href="#" class="px-6 py-6 text-lg font-semibold bg-teal-600 text-white rounded-xl hover:bg-teal-800">Sign Up</a>
            <a href="#" class="px-6 py-6 text-lg font-semibold bg-gray-600 text-white rounded-xl hover:bg-gray-800">Log In</a>
        </div>
    </nav>
    <div class="px-6 py-6">
        <h1>
            {% block content %} {% endblock content %}
        </h1>
    </div>

    <footer class="px-6 py-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>

            <p class="text-lg text-gray-500">Welcome to Ecommerce!
                <br>At Ecommerce, we're your go-to destination for all your shopping needs. With a wide range of products and a seamless shopping experience, we're here to make your online shopping journey enjoyable and convenient.
                
                Our Mission
                Our mission is to provide you with the best shopping experience possible. We're committed to offering high-quality products, exceptional customer service, and secure transactions every step of the way.
                
                Who We Are
                Behind Ecommerce is a dedicated team of e-commerce enthusiasts who are passionate about bringing you the latest trends and best deals. With years of experience in the industry, we're here to make sure you find exactly what you're looking for.
                
                What We Offer
                Explore our extensive collection of products, including clothing, accessories, electronics, home goods, and much more. With fast shipping and easy returns, shopping with us is hassle-free and enjoyable.
                
                Join Us on Our Shopping Journey
                Join us on our mission to redefine online shopping. Whether you're shopping for yourself or searching for the perfect gift, we're here to help you find exactly what you need. Thank you for choosing Ecommerce for all your shopping needs!</p>
        </div>

        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

            <ul class="space-y-2">
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="{% url 'contact' %}" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
                <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Terms and Conditions</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>